/* Colors and fonts */
body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background: white;
  padding: 30px;
  border: lightgrey;
  margin: 20px
}

.img-circle {
  border-radius: 50%;
}

.btn-blue-circle {
  background-color: #575F7D;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  margin-top: 10px
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
